.container {
  width: 100%;
  display: flex;
  flex-direction: row;
  background-color: var(--primary-color);
  margin-top: 0;
  overflow: auto;
  padding: 0 10px;
  position: fixed;
  z-index: 20;
}

.title, .sub {
  margin-top: auto;
  margin-bottom: auto;
  background: none;
  border: none;
  color: var(--text-color);
}

.title {
  padding-left: 2rem;
  padding-right: 4rem;
}
.sub {
  padding-right: 2rem;
}
