:root {
  --primary-color: rgb(0, 159, 77);
  --secondary-color: rgb(255, 143, 143);
  --frontground-color: rgb(3, 25, 32);
  --background-color: rgb(1, 14, 24);
  --text-color: rgb(255, 255, 255);
}
